* {
    margin: 0;
    padding: 0;
    display: flexbox;
    font-family: sans-serif;
    color: white;
}

body {
    background-color: rgba(62, 62, 62, 0.86);

}

.body {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.contener {
    position: relative;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border: 2px groove rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.dot {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i {
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    border-radius: 8px;
}

#hr i {
    height: 70px;
}

#min i {
    height: 90px;
}

#sec i {
    height: 100px;
}
